/*base*/
.container{

    background-color: orange;
    padding: 10px;
}

/*base*/
.box{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin: 10px;
}

/*media*/

@media only screen and (min-width: 600px) {
.container{
    display: grid;
    grid-template-areas: "box1 box1 box1"
    "box2  box3 box5"
    ".  box4 .";
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}

.box1{
    grid-area:box1;
grid-column: 1/-1;
}

.box2{
    grid-area:box2;
    position:relative;
    top:50px;
}

.box5{
    grid-area:box5;
    position:relative;
    top:50px;
}

.box4{
    grid-area:box4;
    grid-column: 2/3;
    grid-row:3/4;
}
}