/*base*/
.container{
    background-color: orange;
    padding: 10px;

    /*media query for mobile and desktop view*/
    @media only screen and (min-width: 600px) {
            display: grid;
            grid-template-areas:   "box2  box3 box5"
          
            ".  box4 .";
            grid-template-columns: auto auto auto ;
            grid-template-rows: auto auto auto;
            grid-gap: 10px;

            &__box2{
                grid-area:box2;
                position:relative;
                top:50px;
            }
            
            &__box5{
                grid-area:box5;
                position:relative;
                top:50px;
            }
            
            &__box4{
                grid-area:box4;
                grid-column: 2/3;
                grid-row:3/4;
            }

    }

    /*style for box*/
    &--box{
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        margin: 10px;
    }        
}

 
.title{
    background-color: violet;
    text-align: center;
    font-size: 30px;
 }

/*base*/







